@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="text"],input[type="email"],input[type="password"],input[type="number"],input[type="tel"], textarea{
  @apply w-full border my-2 py-2 px-3 rounded-2xl;
}
button{
  @apply bg-gray-300 ;
}
textarea{
  height:140px 
}
button.primary{
  @apply bg-primary p-2 w-full text-white rounded-2xl;
}
.deleteContainer{
  position: relative;
}
.delete{
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 50%;
  color: white;
  padding: 2px 3px;
  border-radius: 50%;
}
.star{
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 50%;
  color: white;
  padding: 2px 3px;
  border-radius: 50%;
}

.hidden{
  display: none;
}